body {
    margin: 0px;
    padding: 0px;
    background-color: #303F9F;
    font-family: 'Open Sans', sans-serif;
}

section {
    -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.55);
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    background-color: bisque;
    padding: 15px;
    border: 1px solid black;
    border-radius: 5px;
}

section h1 {
    font-size: 25px;
}

header {
    background-image: url("https://thumbs.gfycat.com/CorruptLinearElk-size_restricted.gif");
    background-size: cover;
    height: 100px;
    border-radius: 5px;
}

a {
    text-decoration: none;
    font-weight: bolder;
}

.container {
    padding: 10px;
    margin: 10px;
    border: 1px solid black;
    background-color: #FFC107;
    border-radius: 5px;
    text-indent: 1cm;
}

.container ol li {
    text-indent: 0cm;
}

img {
    width: 150px;
    height: 150px;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: translateY(-50%);
    border: 8px solid white;
}

.links {
    text-align: center;
}

.links a {
    padding: 10px;
}

.links img {
    display: inline;
    width: 25px;
    height: 25px;
    border: none;
}