body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Roboto Mono', monospace;
    background-image: url('http://www.csun.edu/~ata20315////Research/matrix.gif');
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
}

span {
    color: yellow;
    font: bolder;
}

.container {
    display: block;
    width: auto;
    margin: 0 auto;
    text-align: center;
    padding: 20px;
}

.content {
    display: inline-block;
    margin: 10px auto;
    width: 100%;
    min-width: 454px;
    background-color: darkviolet;
    opacity: 90%;
    border-radius: 10px;
}

.secreto {
    width: auto;
    min-width: 210px;
    text-align: center;
}

.secreto img {
    margin: 10px auto;
    width: 205px;
    min-width: 205px;
    border-radius: 100px;
}

.escolha {
    display: block;
    margin: 10px auto;
    text-align: center;
    width: auto;
    color: whitesmoke;
}

.numeros img {
    width: 250px;
    height: 250px;
    border-radius: 30px;
}

.btn-jogar {
    margin: 20px auto;
    width: 150px;
    height: 70px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    color: wheat;
    background-color: teal;
    border-radius: 40px;
    border: 5px solid yellow;
}

.btn-jogar:hover {
    background-color: peru;
    color: whitesmoke;
    border: 5px solid whitesmoke;
}

.nome {
    margin-bottom: 10px;
    font-family: Arial, Helvetica, sans-serif;
    color: cornsilk;
    font-weight: bolder;
}

.input-nome {
    margin-bottom: 10px;
    display: inline-flex;
    width: 250px;
    height: 40px;
    font-size: 25px;
    font: bolder;
    background-color: lightyellow;
}

.btn-iniciar {
    display: inline-flex;
    width: auto;
    height: 40px;
    font-size: 25px;
    font: bolder;
    color: blue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-color: goldenrod;
    border: 1px solid yellow;
}

.btn-iniciar:hover {
    background-color: floralwhite;
    border: 1px solid blue;
    color: red;
}

#display {
    margin: 10px;
}

#display label {
    color: yellow;
    font-size: 25px;
}

#display input {
    height: 25px;
    border: none;
    color: whitesmoke;
    font: bolder;
    font-size: 25px;
}

.display-nome {
    width: 150px;
    text-align: center;
}

.display-vida {
    width: 35px;
    text-align: center;
}

.label-chance {
    margin-left: 40px;
}

.label-vida {
    margin-left: 35px;
}

.numeros {
    display: inline-block;
    width: auto;
    padding: 5px;
}

.numeros input {
    top: 30px;
    margin: 2px;
    height: 60px;
    width: 60px;
    font-size: 25px;
    color: blue;
    font: bolder;
    border: 2px solid black;
    background-color: burlywood;
    border-radius: 70px;
}

.numeros input:hover {
    background-color: darkslateblue;
    color: yellow;
}

#resultado {
    margin: 10px auto;
    font-size: 10px;
    color: white;
}

.numero-secreto {
    margin: 0 auto;
    font-size: 50px;
    font: bolder;
    color: white;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}