body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    background-image: url('https://www.alura.com.br/assets/img/imersoes/dev-2021/dia-2-calculadora-certa.png');
    background-color: #000000;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.conteudo {
    margin-top: 40px;
    display: flex;
    width: 100%;
    height: 100%;
    align-content: center;
}

.pokemon {
    border-radius: 50px;
}

.pokemon-imagem {
    margin-left: 10px;
    margin-top: 30px;
    width: 400px;
    height: 400px;
    border-radius: 30px;
}

.resposta-imagem {
    width: auto;
    height: auto;
    border-radius: 30px;
}

.questao {
    margin-top: 30px;
    margin-left: 30px;
    text-align: left;
    width: auto;
    height: 450px;
}

.h2-pergunta {
    font-size: 27px;
    color: blue;
}

.responder {
    margin: 15px;
    width: 100%;
    height: auto;
    border-radius: 5px;
    background-color: gold;
    font-size: 20px;
    color: black;
}

.responder:hover {
    background-color: rgb(150, 9, 9);
    color: yellow;
}

#resposta {
    position: absolute;
    left: 400px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}