body {
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    font-family: 'Roboto Mono', monospace;
    background-image: url('https://www.imgbase.info/images/safe-wallpapers/anime/pokemon/17180_pokemon.jpg');
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
}

button {
    margin: 20px auto;
    width: 50%;
    height: 25px;
    color: white;
    background-color: chocolate;
    border: 2px solid blue;
    border-radius: 8px;
    font-size: 20px;
}

button:hover {
    border: 2px solid red;
    background-color: blue;
    color: yellow;
}

.container {
    text-align: center;
    padding: 20px;
}

#conteudo {
    margin: 20px auto;
    width: auto;
    height: auto;
    min-width: 280px;
}

.imagem {
    margin: 10px auto;
    display: inline-flex;
    width: 30%;
    height: auto;
    min-width: 270px;
}

.imagem img {
    width: 100%;
    border-radius: 100px;
}

.questao {
    text-align: center;
    margin: 10px auto;
    display: inline-block;
    width: auto;
    height: auto;
    transform: translateY(-8%);
}

.questao h2 {
    padding-bottom: 20px;
    width: 100%;
    text-align: center;
    color: yellow;
}

#resposta {
    display: inline-block;
    margin: 10px auto;
}

#resposta img {
    display: flex;
    width: auto;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}