body {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Mono', monospace;
    min-height: 400px;
    background-image: url('http://38.media.tumblr.com/9f04dbd6288f1f0c8a91556643b8a794/tumblr_nl9igeuPwv1r9pt1so10_500.gif');
    background-repeat: no-repeat;
    background-color: #000000;
    background-size: cover;
    --background-repeat: no-repeat;
}

.container {
    text-align: center;
    padding: 20px;
    height: 100vh;
}

.page-title {
    color: #ffffff;
    margin: 0 0 5px;
}

.page-subtitle {
    color: #ffffff;
    margin-top: 5px;
}

.page-logo {
    width: 200px;
}

.alura-logo {
    width: 40px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.conversores {
    display: block;
    padding-top: 70px;
}

.div-label {
    color: white;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 10px;
}

.input-style {
    height: 30px;
    width: 150px;
    border: 1px ridge white;
    ;
    background-color: transparent;
    color: white;
    font-size: 20px;
    text-align: right;
}

.button-style {
    border-radius: 20px;
    background: #0066A2;
    color: white;
    border: none;
    border-color: #0066A2;
    height: 37px;
    width: 110px;
    font: bold 20px arial, sans-serif;
    opacity: 90%;
}

.resultado {
    margin-top: 10px;
    margin-bottom: 0px;
    padding: 0;
    color: red;
}